body{
    background-image: url('../img/Fundo.png'); /* Caminho relativo para a imagem */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 0;
    margin: 0;
    color:currentColor;
    display: flex ;
    flex-direction: column;
    align-items: center;
}

.container{
    display: flex ;
    background-color: #c9d0d6d7;
    padding : 80px;
    border-radius: 10px;
    width: 400px;
    margin-top: 60px;
    flex-direction: column;
    align-items: flex-start;
    color: currentColor;
    box-shadow: inset 0px 2px 10px rgba(0, 0, 0, 0.2);

}

.container img{
    
    align-self: center;
    height: 120px;
    width: 120px;
}
.container h3{
    color: #1f2e4f;
    display: flex;
    align-self: center;
    justify-self: center;
    font-size: 22px;
    font-family: sans-serif;
    margin-bottom: 10px;
    margin-top: 10px;
}


.container p{
    display: flex;
    align-self: center;
    justify-self: center;
    color: #1f2e4f;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 10px;
}

br{
    line-height: 12px;
    content: "";
}


input, button{
    display: flex;
    align-self: center;
    justify-self: center;
    padding: 7px;
    margin: 10px 0;
}
#enviar{
    display: flex;
    align-self: center;
    justify-self: center;
    
    color: currentColor;
    background:linear-gradient(160deg, #c8e4fc, #4bc7c7 );
    width: 32%;
    border-radius: 10px;
    border: 0;
    font-family: "Comic Sans MS", cursive;
    margin: 7px;
    margin-top: 12px;
    transition: transform 0.1s ease;
}

#enviar:hover{
    color: rgb(194, 194, 255);
    background: rgba(0, 0, 0, 0.473);
    transform: scale(1.05);
    
}

form{
   width: 400px; 
}

input, label{
    display: flex;
    justify-self: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 6px;
    margin-top: 4px

}

#senha{
    background: rgba(80, 80, 80, 0.336);
    width: 197px;
    height: 18;
    border-radius: 10px;
    border: 0;
    margin: 7px;
}

#user{
    background: rgba(80, 80, 80, 0.336);
    width: 197px;
    height: 18;
    border-radius: 10px;
    border: 0;
    margin: 7px;
}

#opcoes{
    display: flex;
    justify-self: center;
    background: rgba(80, 80, 80, 0.336);
    width: 213px;
    padding: 7px;
    height: 30px;
    border-radius: 10px;
    border: 0;
}

