body{
    background: linear-gradient(50deg, #205c97, #73b8b8  );
    margin: 0;
    color:currentColor;
    display: flex ;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.container{
    display: flex ;
    background-color: aliceblue;
    padding : 20px;
    border-radius: 10px;
    width: 300px;
    text-align: left;
    flex-direction: column;
    align-items: flex-start;
    color: currentColor;
    box-shadow: inset 0px 2px 10px rgba(0, 0, 0, 0.2);

}

.container h2{
    display: flex;
    align-self: center;
    
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.container p{
    display: flex;
    align-self: center;
    
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 10px;
}
br{
    line-height: 12px;
    content: "";
}


input, button{
    display: inline-flex;
    align-self: center;
    padding: 7px;
    margin: 10px 0;
}
#enviar{
    color:  rgb(225, 220, 220);
    background:linear-gradient(160deg, #c8e4fc, #4bc7c7 );
    width: 32%;
    border-radius: 10px;
    border: 0;
    font-family: "Comic Sans MS", cursive;
    margin: 7px;
    margin-top: 12px;
    transition: transform 0.1s ease;
}

#enviar:hover{
    color: rgb(194, 194, 255);
    background: rgba(0, 0, 0, 0.473);
    transform: scale(1.05);
    
}



input, label{
    display: flex;
    justify-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 6px;
    margin-top: 4px

}

#senha{
    background: rgba(187, 187, 187, 0.397);
    width: 197px;
    height: 18;
    border-radius: 10px;
    border: 0;
    margin: 7px;
}

#user{
    background: rgba(187, 187, 187, 0.397);
    width: 197px;
    height: 18;
    border-radius: 10px;
    border: 0;
    margin: 7px;
}

#opcoes{
    background: rgba(187, 187, 187, 0.397);
    width: 200px;
    height: 18;
    border-radius: 10px;
    border: 0;
}

