body{
    background-image: url('/fundo.png'); /* Caminho relativo para a imagem */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 0;
    margin: 0;
    color:currentColor;
    display: flex ;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.container{
    display: flex ;
    background-color: #c9d0d6d7;
    padding : 80px;
    border-radius: 10px;
    width: 400px;
    margin-top: 60px;
    flex-direction: column;
    align-items: flex-start;
    color: currentColor;
    box-shadow: inset 0px 2px 10px rgba(0, 0, 0, 0.2);

}

.container img{
    
    align-self: center;
    height: 120px;
    width: 120px;
}
.container h3{
    color: #1f2e4f;
    display: flex;
    align-self: center;
    justify-self: center;
    font-size: 22px;
    font-family: sans-serif;
    margin-bottom: 10px;
    margin-top: 10px;
}


.container p{
    display: flex;
    align-self: center;
    justify-self: center;
    color: #1f2e4f;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 10px;
}

br{
    line-height: 8px;
    content: " ";
}


input, button{
    display: flex;
    align-self: center;
    justify-self: center;
    padding: 7px;
    margin: 10px 0;
}
#enviar{
    display: flex;
    justify-content: center;
    align-self: center;
    justify-self: center;
    color: currentColor;
    background:linear-gradient(160deg, #1B4B7B, #189FA0 );
    width: 32%;
    border-radius: 10px;
    border: 0;
    font-family: "Comic Sans MS", cursive;
    margin: 7px;
    margin-top: 12px;
    transition: transform 0.1s ease;
}

#enviar:hover{
    color: rgb(230, 230, 255);
    transform: scale(1.05);
    
}

form{
   width: 400px; 
}

.container input, label{
    display: flex;
    justify-self: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 6px;
    margin-top: 4px

}

#senha{
    background: rgba(80, 80, 80, 0.336);
    color: rgb(255, 255, 255);
    width: 197px;
    height: 18;
    border-radius: 10px;
    border: 0;
    margin: 7px;
}

#user{
    background: rgba(80, 80, 80, 0.479);
    color: rgb(255, 255, 255);
    width: 197px;
    height: 18;
    border-radius: 10px;
    border: 0;
    margin: 7px;
}

#opcoes{
    display: flex;
    justify-self: center;
    background: rgba(80, 80, 80, 0.479);
    width: 213px;
    padding: 7px;
    height: 30px;
    border-radius: 10px;
    border: 0;
}

/* -----------------------------------------Aluno---------------------------------------------------- */

.atividade{
    display: flex ;
    background-color:rgba(201, 208, 214, 0.84);
    padding: 20px;
    border-radius: 10px;
    width: 700px;
    margin-top: 30px;
    margin-bottom: 30px;
    flex-direction: column;
    align-items: flex-start;
    color: currentColor;
    box-shadow: inset 0px 2px 10px rgba(0, 0, 0, 0.2);
}

.atividade img{
    align-self: center;
    height: 120px;
    width: 120px;
}
.atividade h3{
    color: #1f2e4f;
    display: flex;
    align-self: flex-start;
    font-size: 16px;
    font-family: sans-serif;
    margin-bottom: 4px;
    margin-top: 4px;
}

.atividade h2{
    color: #1f2e4f;
    display: flex;
    align-items: baseline;
    align-self: center;
    justify-self: center;
    font-size: 18px;
    font-family: sans-serif;
    margin-bottom: 6px;
    margin-top: 6px;
}


.atividade p{
    display: flex;
    align-self: center;
    justify-self: center;
    color: #1f2e4f;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    font-size: 15px;
    margin-bottom: 3px;
    margin-top: 3px;
}
.ativ{
    display: flex;
    align-items: center;
}
.check {
    display: flex;
    align-items: baseline;
    appearance: none; 
    width: 24px;
    height: 24px;
    border: 1px solid #1f2e4f;
    border-radius: 14px;
    vertical-align: middle;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-right: 8px;
}
.check:hover {
    border-color: #1f2e4f;
}

.check:checked {
    background-color: #0b7c69;
    border-color: #0c746e;
    position: relative;
}

.check:checked::after {
    content: "✔";
    color: white;
    position: absolute;
    top: 0;
    left: 4px;
    font-size: 16px;
}


/* ------------------------------------------------Professor---------------------------------------------------------- */

#atividade{

    justify-self: center;
    align-self: center;
    background: rgba(80, 80, 80, 0.479);
    color: rgb(255, 255, 255);
    width: 480px;
    height: 18;
    border-radius: 6px;
    border: 0;
    border-color: #1f2e4f;
    margin: 4px;
}
#descricao{
    justify-self: center;
    align-self: center;
    background: rgba(80, 80, 80, 0.479);
    color: rgb(255, 255, 255);
    width: 480px;
    height: 18;
    border-radius: 6px;
    border: 0;
    border-color: #1f2e4f;
    margin: 4px;
}
#data{
    justify-self: center;
    align-self: center;
    background: rgba(80, 80, 80, 0.479);
    color: rgb(255, 255, 255);
    height: 18;
    border-radius: 6px;
    border: 0;
    border-color: #1f2e4f;
    margin: 4px;
}
.prof{
    display: flex;
    background-color:rgba(201, 208, 214, 0.84);
    padding: 50px 30px;
    border-radius: 10px;
    width: 700px;
    margin: 40px 0;
    flex-direction: column;
    align-content: flex-start;
    color: currentColor;
    box-shadow: inset 0px 2px 10px rgba(0, 0, 0, 0.2);
    gap: 10px;
}

.prof h3{
    color: #1f2e4f;
    align-self: flex-start;
    font-size: 16px;
    font-family: sans-serif;
    margin-bottom: 4px;
    margin-top: 4px;
}

.prof h2{
    color: #1f2e4f;
    align-items: baseline;
    align-self: center;
    justify-self: center;
    font-size: 18px;
    font-family: sans-serif;
    margin-bottom: 6px;
    margin-top: 6px;
}


.prof p{
    display: flex;
    align-self: center;
    justify-self: center;
    color: #1f2e4f;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    font-size: 15px;
    margin-bottom: 3px;
    margin-top: 3px;
}

.prof input, label{
    display: flexbox;
    justify-self: left;
    align-self: baseline;
    flex-wrap: wrap-reverse;
}


.content-prof {

    align-self: center;
    justify-self: center;
    background-color: #2670A6;
    padding: 12px 7px;
    border-radius: 6px;
    height: 12px;
    width: 242px;
    height: 25px;
    color: #ffffff;
}
.content-prof h5{
    align-self: center;
    justify-self: center;
    margin: 0;
    margin-top: 6px;
    padding: 0;
    font-family: sans-serif;
    font-size: 16px;

}


#prof-envio{
    display: flex;
    justify-content: center;
    align-self: center;
    justify-self: center;
    color: currentColor;
    background:linear-gradient(160deg, #1B4B7B, #189FA0 );
    width: 100px;
    border-radius: 10px;
    border: 0;
    font-family: "Comic Sans MS", cursive;
    margin: 7px;
    margin-top: 12px;
    transition: transform 0.1s ease;
}
#prof-envio:hover{
    color: rgb(230, 230, 255);
    transform: scale(1.05);
}

.adic-atividades-prof{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center
    padding: 50px 30px;
    border-radius: 10px;
    width: 700px;
    margin: 40px 0;
    flex-direction: column;
    align-content: flex-start;
    color: currentColor;
    box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.2);
    gap: 10px;
    background-color:rgba(0, 0, 0, 0.09);
}
/* ------------------------------------------------Dinamico---------------------------------------------------------- */

#acao{
    display: flex;
    justify-self: center;
    background: rgba(80, 80, 80, 0.479);
    width: 213px;
    padding: 7px;
    height: 30px;
    border-radius: 10px;
    border: 0;
}
.container-dina{
    display: flex ;
    background-color: #c9d0d6d7;
    padding : 20px;
    border-radius: 10px;
    width: 400px;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
    color: currentColor;
    box-shadow: inset 0px 2px 10px rgba(0, 0, 0, 0.2);
    gap: 7px;

}

.dina-ini{
    display: flex ;
    background-color: #2670A6;
    padding : 7px;
    border-radius: 10px;
    width: 243px;
    height: 43px;
    margin: 20px 0;
    flex-direction: column;
    align-items: center;
    color: currentColor;
    box-shadow: inset 0px 2px 10px rgba(0, 0, 0, 0.2);
    gap: 7px;

}

.dina-ini h2{
    color: #ffffff;
    align-self: center;
    justify-self: center;
    font-size: 18px;
    font-family: sans-serif;
}

.btn-dina-op{

}