.int{
    background-color:  #c9d0d6;
    color:currentColor;
    height: 380px;
    width: 280px;
    display: inline-table;
    border-radius: 12px;
    margin: 20px;
    padding: 20px;
    transition: transform 0.1s ease;

}

.int:hover{
    transform: scale(1.05);
    
}

.int a img{
    display: inline-flexbox;   
    justify-self: left;   
    height: 30px;
    width: 30px;
    border-radius: 0;
    margin: 7px;
}
.int h2{
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.int p{
    font-size: 12px;
    font-family:  'Courier New', Courier, monospace;
}

.int img{
    height: 70px;
    width: 70px;
    border-radius: 60%;
}

.int a{
    display: flexbox;
    flex-direction: column-reverse;
}
.container{
    
    background-color: rgba(240, 248, 255, 0.575);
    color:currentColor;
    height: 450px;
    width: 400px;    
    border-radius: 12px;
    margin: 20px;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column  ;
    transition: transform 0.1s ease;
    
    
}

.container:hover{
    transform: scale(1.05);
    background-color: rgba(134, 134, 134, 0.575);
    color:  #ffffff;
    
}
.container img{
    height: 120px;
    width: 120px;
}
.container p{
    font-size: 14px;
    font-family:  'Courier New', Courier, monospace;
}

.container h2{
    font-size: 22px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    background-image: url('/fundo.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 0;
    margin: 0;
    justify-items: center;
    
}
.itens-sobre{
    display: flex;
    justify-content: space-around;

}

.contato{
    width: 270px;
    height: 120px;
    display: flex;
    align-items: end;
}


.Botaorodape{

    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 60px;
    height: 30px;
    justify-content: center;
    display: flex;
    justify-self: center;
    align-self: center;

    justify-items: center;
    align-items: center;
    background:linear-gradient(160deg, #c8e4fc, #4bc7c7 ) ;
    border-radius: 6px;
    margin-top: 20px;
    padding: 5px 5px;
    transition: transform 0.1s ease;
    
}
.Botaorodape a{
    display: flex;
    justify-self: center;
    color: black;  
    text-decoration: none;
    border-radius: 4px;
    transition: transform 0.1s ease;
    
}

.Botaorodape a:hover{
    color: rgb(194, 194, 255);
    transform: scale(1.02);
    
}

.Botaorodape:hover{
    color: rgb(194, 194, 255);
    background: rgba(138, 138, 138, 0.253);
    transform: scale(1.05);
    
}